<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    <meta name="theme-color" content="#ffffff">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
    <style>
        .nav-link {
            @apply text-gray-700 hover:text-blue-500 transition-colors duration-300;
        }
    </style>
    <!-- Vercel Analytics -->
    <script>
        (function(){var w=window;var d=document;var s=d.createElement('script');s.src='https://cdn.vercel-insights.com/v1/script.debug.js';s.setAttribute('async','true');d.head.appendChild(s);})();
    </script>
</head>
<body class="bg-gray-100">
    {% include 'navigation.html' %}
    <div class="container mx-auto mt-5">
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
